<section id="{{cft.id}}">
  <h2><a href="{{cft['spec-version'].uri}}">{{cft.title}}</a><a class='self-link' href='#{{cft.id}}'></a></h2>
    <ul>
      {%- for translation in cft.translations -%}
      {%- if translation.states contains 'published' -%}
      <li><details><summary>{% if translation.authorized %}<span aria-labelledby="Authorized Translation" aria-role="img">✰</span>{% endif %}<a href="{{translation.uri}}" lang="{{translation.language}}" title="{{site.data.lang[translation.language].name}} translation of {{cft.title}}: {{translation.title}}"><span dir="auto" lang="{{translation.language}}">{{site.data.lang[translation.language].nativeName}}</span> ({{site.data.lang[translation.language].name}})</a></summary>
          <p><cite dir="auto" lang={{translation.language}}>{{translation.title}}</cite></p>
          {% if translation.authorized %}
          <p>Lead Translation Organization: {{ translation['lto-name'] }}</p>
          {% else %}
          {% if translation.translators.size > 0 %}
          <p>Translation authors: {% for translator in translation.translators %}{{translator.name}}{% endfor %}</p>
          {% else %}
          <p>{{ translation.comments }}</p>
          {% endif %}
          {% endif %}
      </details></li>
      {% endif %}
      {%- endfor -%}
    </ul>
</section>
